Repository youngjuene/spacetime-maps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --check, isort --check-only

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/**/*.py": ["black --check", "isort --check-only"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: Complete Phase 1 - Modern UI components and theme system with successful build
  frontend/src/components/App.tsx
  frontend/src/components/MeshTriangle.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/LoadingSpinner.tsx
  frontend/src/components/ui/index.ts
  frontend/src/utils/cn.ts
  frontend/tailwind.config.js
Due: eslint --fix, prettier --write

feat: Enhanced Menu System - Step 1 of Phase 2 complete with modern dropdown and interactive progress bar
  frontend/src/components/App.tsx
  frontend/src/components/ModernMenu.tsx
  frontend/src/components/ui/Dropdown.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/components/ui/index.ts
Due: eslint --fix, prettier --write

feat: Interactive Controls - Step 2 of Phase 2 complete with modern toggles and sliders
  frontend/src/components/ModernMenu.tsx
  frontend/src/components/ModernViewSettingsPanel.tsx
  frontend/src/components/ui/Slider.tsx
  frontend/src/components/ui/Toggle.tsx
  frontend/src/components/ui/index.ts
Due: eslint --fix, prettier --write

feat: Keyboard Shortcuts - Step 3 of Phase 2 complete with comprehensive shortcuts and help modal
  frontend/src/components/App.tsx
  frontend/src/components/KeyboardShortcutsModal.tsx
  frontend/src/components/ModernMenu.tsx
  frontend/src/hooks/useKeyboardShortcuts.ts
Due: eslint --fix, prettier --write

feat: Touch Gestures & Mobile Optimization - Phase 2 COMPLETE! Enhanced mobile experience with swipe gestures, floating action button, and responsive design
  frontend/src/components/App.tsx
  frontend/src/components/ModernMenu.tsx
  frontend/src/components/ui/FloatingActionButton.tsx
  frontend/src/components/ui/index.ts
  frontend/src/hooks/useTouchGestures.ts
Due: eslint --fix, prettier --write

Complete Three.js migration with advanced features and optimizations
  GOOGLE_MAPS_SETUP.md
  IMPLEMENTATION_PLAN.md
  OPTIMIZATION_SUMMARY.md
  PHASE_4_SUMMARY.md
  README.md
  THREE_JS_MIGRATION.md
  TODO.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.tsx
  frontend/src/components/DebugOverlay.tsx
  frontend/src/components/ExplanationModal.tsx
  frontend/src/components/MeshTriangle.tsx
  frontend/src/components/MultiCityComparison.tsx
  frontend/src/components/PerformanceMonitor.tsx
  frontend/src/components/SpacetimeMap.tsx
  frontend/src/hooks/useThreePerformance.ts
  frontend/src/three/advanced-features.ts
  frontend/src/three/compatibility.ts
  frontend/test-implementation.js
Due: eslint --fix, prettier --write

Fix lint-staged configuration for proper tool paths
  .lintstagedrc.json
Due: prettier --write

📚 Consolidate documentation: reduce 11 markdown files to 3 essential ones
  GOOGLE_MAPS_SETUP.md
  IMPLEMENTATION_PLAN.md
  OPTIMIZATION_SUMMARY.md
  PHASE_4_SUMMARY.md
  README.md
  SETUP.md
  THREE_JS_MIGRATION.md
  TODO.md
  backend/README.md
  backend/backend/gmaps.py
  backend/backend/grid.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: prettier --write, black --check, isort --check-only

🚀 Add comprehensive stability improvements - Performance optimization, error handling, testing, Docker support, CI/CD pipeline, monitoring, and enhanced documentation
  .github/workflows/ci.yml
  Dockerfile
  SETUP.md
  docker-compose.yml
  frontend/.lighthouserc.json
  frontend/env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/index.tsx
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: eslint --fix, prettier --write

Remove GitHub Actions workflow due to token permissions
  .github/workflows/ci.yml
Due: prettier --write

🐳 Fix Docker setup - Fixed build dependencies, added dev Dockerfile, verified production deployment working
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
Due: prettier --write

Clean up repository: remove unnecessary files and dependencies
  .husky/pre-commit
  .lintstagedrc.json
  backend/circle.ipynb
  backend/location-snapping.ipynb
  backend/playground.ipynb
  cavalry/README.md
  cavalry/circle-warp.cv
  cavalry/sping-arrows.cv
  cavalry/travel-speed.cv
  crop_video.py
  frontend/.lighthouserc.json
  frontend/package.json
  frontend/src/components/App.tsx
  frontend/src/components/ExplanationModal.tsx
  frontend/src/hooks/useKeyboardShortcuts.ts
  frontend/src/theme/colors.ts
  frontend/src/three/advanced-features.ts
  frontend/src/three/compatibility.ts
  frontend/src/utils/cn.ts
  frontend/test-implementation.js
  frontend/vercel.json
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

Remove unnecessary IDE-specific files: .vscode and empty .github directory
  .vscode/settings.json
Due: prettier --write
